footer {
    background-color: $blue_color;
    p {
        color: $white_color;
    }
    .col-4 img {
        max-width: 30%;
    }
    .col-4 ul li {
        list-style: none;
        color: $white_color;
    }
    .col-4 a {
        color: $white_color;
    }
}
